<% include partials/header %>

<h1>This is the home page</h1>
<img>https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjt4e-0_OzjAhVEhuAKHQR4BpIQjRx6BAgBEAU&url=https%3A%2F%2Fpixabay.com%2Fpt%2Fphotos%2Fnuvens-imagem-de-nuvem-c%25C3%25A9u-humor-2888277%2F&psig=AOvVaw3RNmAIpKKCpBpPXgYOgCmh&ust=1565137157581654</img>
<% include partials/footer %>